.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.card {
  background-color: black;
  text-align: center;
  padding: 4px;
  border-radius: 8px;
  color: white;
}

img {
  max-width: 100%;
  border-radius: 4px;
}
